.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto auto auto);
  column-gap: 2em;
}

.contactInfo {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}

.contactHead {
  font-family: "Quarto A", "Quarto B";
  font-style: italic;
  font-weight: 300;
  font-size: 5rem;
  line-height: 6rem;
  display: inline-block;
  margin: 0 0 0.5em 0;
}

.contactLink {
  font-family: "Quarto A", "Quarto B";
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  padding: 4px;
}

@media screen and (min-width: 1300px) {
  .contactHead {
    font-size: 7rem;
  }

  .contactLink {
    font-size: 3rem;
  }
}

.contact a {
  text-decoration: underline;
}

.art {
  display: none;
}

@media screen and (min-width: 1070px) {
  .contactInfo {
    grid-column: 1;
  }

  .art {
    display: block;
    grid-column: 2;
    grid-row: 1;
    background-color: black;
    border-radius: 1em;
  }
}

.elsewhere__title {
  margin-top: 5em;
  font-family: "Quarto A", "Quarto B";
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
}

.elsewhere {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elsewhere__link {
  font-size: 0.7rem;
  font-family: "Ringside Narrow SSm A", "Ringside Narrow SSm B";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.elsewhere__link a {
  color: #000;
  text-decoration: none;
}
