.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4em 0;
}

.intro__copy {
  flex: 1;
  align-self: center;
  padding-right: 2em;
  font-family: "Quarto A", "Quarto B";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1rem;
}

@media screen and (min-width: 760px) {
  .intro__copy {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .intro__copy {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width: 1500px) {
  .intro__copy {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 2000px) {
  .intro__copy {
    font-size: 3.4rem;
    line-height: 3.8rem;
  }
}

.artwork {
  flex: 1;
  background-color: #000;
  border-radius: 1em;
  line-height: 0px;
}
